.nodisplay {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div#analogclock-wrapper {
    position: fixed;
    left: 50%;
    height: 98%;
    top: 1%;
    aspect-ratio: 1;
    padding: 0px;
    transform: translate(-50%, 0%);
}

div#clockoverlay {
    /*Circular background*/
    position: absolute;
    left: -1px;
    top: -1px;
    background-color: black;
    border-radius: 50%;
    width: calc(100% + 2px);
    aspect-ratio: 1;
    z-index: 2;
}

#digitalclock {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 174%;
    color: white;
    margin: 0px;
    z-index: 3;
}

canvas#analogclock {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    aspect-ratio: 1;
}

button#stopwatch-start {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    padding: 1px 8px;
    color: black;
    background-color: limegreen;
    border: none;
    border-radius: 5px;
    height: 1.8em;
}

@media (orientation: portrait) {
    div#analogclock-wrapper {
        width: 98%;
        height: auto;
    }
}

/* Can be put in for more responsive behavior

@media screen and () {
    div#analogclock-wrapper {
        width: max(15%, 100px);
    }

    #digitalclock {
        font-size: 160%;
    }

    button#stopwatch-start {
        padding: 1px 4px;
    }
}

*/