body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

pre {
    background-color: white;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: blue;
}